button {
    font-family: $font;
    cursor: pointer;
    border: 1px solid $white;
    background: $black;
    color: $white;
    padding: $spacing-xs;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    transition: color $transition-speed ease, background-color $transition-speed ease;
    display: inline-block;
    vertical-align: middle;

    & + button,
    & + span {
        display: inline-block;
        margin-left: $spacing-xs;
    }

    &.icon-only {
        width: $spacing-lg;
        height: $spacing-lg;
        line-height: $spacing-lg - 2px;
        padding: 2px;
    }

    .icon {
        background-color: $white;
    }

    &:hover,
    &:focus {
        background: $light-gray;
        color: $black;

        .icon {
            background-color: $black;
        }
    }

    &.light {
        background-color: $light-gray;
        border-color: $black;
        color: $black;

        .icon {
            background-color: $black;
        }

        &:hover,
        &:focus {
            background-color: $black;
            color: $white;

            .icon {
                background-color: $white;
            }
        }
    }
}