.terminal {
    font-family: $font;
    font-size: $font-base;
    background: $black;
    color: $white;
    min-width: 200px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    margin: 0 $spacing;

    .terminal-title {
        padding: 0 $spacing;
        color: $black;
        background: $white;
    }

    .terminal-content {
        padding: $spacing;
    }
}