#ui {
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    .ui-block {
        flex: 1;
    }

}

.columned {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separated-row:not(:first-child) {
    margin-top: $spacing-xs;
    padding-top: $spacing-xs;
    border-top: $border;
}