@use 'sass:math';

$black: #222;
$gray: #666;
$dark-gray: #444;
$light-gray: #e3e3e3;
$white: white;
$primary-color: #b4b9dc;

$spacing: 10px;
$spacing-xs: math.div($spacing, 2);
$spacing-sm: $spacing * 2; 
$spacing-md: $spacing * 3;
$spacing-xl: $spacing * 6;

$font-base: 16px;
$font: 'Fira Code', monospace;

$box-shadow: 3px 3px 5px $gray;
$border-radius: 2px;
$border: 1px solid #333;

$transition-speed: 200ms;