$header-height: $spacing-text + (2 * $spacing-xs);
.wb-header {
    color: $black;
    background: $light-gray;
    height: $header-height;
}

.wb-title {
    font-family: unset;
    font-size: unset;
    line-height: $header-height;
}

.wb-body {
    background: $black;
    color: $white;

    .terminal {
        padding: 0;
        min-width: 0;
    }

    /** Turn off scrollable lists, the entire body scrolls **/
    .scrollable-list {
        max-height: none;
        overflow-y: visible;
    }
}

.wb-control {
    height: auto;
    padding: $spacing-xs $spacing-sm;
}

.wb-close {
    box-sizing: border-box;
    vertical-align: middle;
    background: none;
    border: 1px solid $black;
    background-color: $light-gray;
    color: $black;
    transition: color $transition-speed ease, background-color $transition-speed ease;
    width: $spacing-lg;
    height: $spacing-lg;
    line-height: $spacing-lg - 2px;
    padding: 2px;

    &::after {
        content: '';
        display: inline-block;
        -webkit-mask-image: url('/dist/assets/icons/arrow_bottom_left.svg');
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-image: url('/dist/assets/icons/arrow_bottom_left.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        width: $spacing-md;
        height: $spacing-md;
        transition: background-color $transition-speed ease;
        background-color: $black;
    }

    &:hover,
    &:focus {
        background: $black;
        color: $white;

        &::after {
            background-color: $white;
        }
    }
}