$header-height: $spacing-text + (2 * $spacing-xs);
.wb-header {
    color: $black;
    background: $light-gray;
    height: $header-height;
}

.wb-title {
    font-family: unset;
    font-size: unset;
    line-height: $header-height;
}

.wb-body {
    background: $black;
    color: $white;

    .terminal {
        padding: 0;
        min-width: 0;
    }

    /** Turn off scrollable lists, the entire body scrolls **/
    .scrollable-list {
        max-height: none;
        overflow-y: visible;
    }
}

.wb-control {
    height: auto;
    padding: $spacing-xs $spacing;
}

.wb-close {
    vertical-align: top;
    background: none;
    border: 1px solid $black;
    background-color: $light-gray;
    color: $black;
    transition: color $transition-speed ease, background-color $transition-speed ease;
    width: $spacing-sm;
    height: $spacing-sm;
    line-height: $spacing-sm - 2px;

    &::after {
        content: '↙';
    }

    &:hover,
    &:focus {
        background: $black;
        color: $white;
    }
}